<div class="w-full flex justify-center bg-[#98EE63] py-5">
  <div class="w-8/12">
    <a class="text-blue-900" href="/"> accueil </a>
    <a href="/nous-contacter"> nous contacter </a>
    <a href="/about"> a propos </a>
  </div>
</div>