<html>
	<head>
		<%- include('../partials/head'); %>
		<title>page d'accueil</title>
	</head>
	<%- include('../partials/menu'); %>
	<div class="h-screen w-full flex justify-center">
		<div class="w-8/12">
			<h2>Accueil</h2>
		</div>
	</div>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</html>
